div.remote {
    display: none;
}

div.wrapper {
    text-align: center;
    border: 1px solid red;
}

div.view {
    display: inline-block;
    background-color: lightgrey;
    border: 1px solid red;
    width: 80%;
}

.row {
    padding: 10px 10px 10px 10px;
    border: 1px solid red;
}

.row .numberInput {
    width: 40px;
}

.row .textInput {
    width: 150px;
}